<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="layout/main.html">
<div layout:fragment="content">
    <div class="row mt-2">
        <div class="col-4 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${param.errorpwd != null}">
                <strong>Неверный пароль!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${param.errorpasswords != null}">
                <strong>Пароли не сопадают!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${param.success != null}">
                <strong>Пароль успешно изменен!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form th:action="@{'/updatepassword'}" method="post">
                <div class="mb-3">
                    <h5>Привет <span th:text="${#authentication.principal.fullName}"></span></h5>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id1">Текущий пароль</label>
                    <input class="form-control" type="password" id="id1" name="current_password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id2">Новый пароль</label>
                    <input type="password" class="form-control" id="id2" name="new_password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id3">Повторите новый пароль</label>
                    <input type="password" class="form-control" id="id3" name="re_new_password">
                </div>
                <button class="btn btn-secondary">Изменить пароль</button>
            </form>
        </div>
    </div>
    <div class="row mt-2" sec:authorize="hasAuthority('ROLE_Admin')">
        <div class="col-4 mx-auto">
            <hr class="my-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${param.editerror != null}">
                <strong>Изменение пользователя не успешно!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${param.editsuccess != null}">
                <strong>Пользователь успешно изменен!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form th:action="@{'/editrole'}" method="post">
                <div class="mb-3">
                    <h5>Изменить права пользователя</h5>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="form_email">Email</label>
                    <input class="form-control" type="email" id="form_email" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="idrole">Role</label>
                    <select class="form-select" id="idrole" name="roleId">
                        <option value="1">Admin</option>
                        <option value="2">Author</option>
                        <option value="3">User</option>
                    </select>
                </div>
                <button class="btn btn-warning">Сохранить</button>
            </form>
            <hr class="my-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${param.errordelete != null}">
                <strong>Не удалось деактивировать пользователся</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${param.successdelete != null}">
                <strong>Пользователь успешно деактивирован</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <h5>Деактивировать пользователя</h5>
            </div>
            <form th:action="@{'/disableuser'}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="id4">Email</label>
                    <input class="form-control" type="email" id="id4" name="email">
                </div>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Деактивировать</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Вы уверены?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-danger">Да</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>